<%- include('partials/header'); -%>
   <h1><%= siteTitle %></h1>
   <% if (siteTitle !== 'Compose') { %>
      <p><%= siteText %></p>
      <% if (posts.length && siteTitle === 'Home') { %>
         <div class="container">
            <% for (i=0; i<posts.length; i++) { %>
               <h3><%= posts[i].postHeadline %></h3>
               <p>
                  <%= posts[i].postExcerpt %>[...]
                  <a href="<%- posts[i].postLink -%>">Read More</a>
               </p>
            <% } %>
         </div>
      <% } %>
   
   <% }  else { %>
      <form action="/" name="composeForm" class="form-signin" method="post">
         <p><input class="form-control" type="text" name="postHeadline" placeholder="Post Headline"></p>
         <p><textarea class="form-control" name="postText" id="postText" placeholder="Post Text" rows="10"></textarea></p>
         <p><button class="btn btn-primary" type="submit" name="submitButton" value="<%= siteTitle %>">Publish</button></p>
      </form>
   <% } %>
<%- include('partials/footer'); -%>